<!DOCTYPE html>
{%extends 'basehomes.html'%}
{%load static%}
{% block body_block%}

<section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>The Reports</h2>
        <p class="text-muted">Choose Your Report!</p>
        <hr>
      </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                    <i class="fas fa-chart-bar"></i>
                     <a href="{%url 'graphrepo'%}" class="stretched-link"><h3>Graph Reports</h3></a>
                  <p class="text-muted">Analyse your Expenses From Graph.Find out your expense behaviour!</p>
                     </div>
              </div>

              <div class="col-lg-6">
                <div class="feature-item">
                 <i class="fas fa-sort-numeric-down-alt"></i>
                    <a href="{%url 'reportbudget'%}"class="stretched-link"> <h3>Category Wise Expense</h3></a>
                  <p class="text-muted">select date to see in which category
                              you spend the most</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                 <i class="far fa-calendar-alt"></i>
                     <a href="{%url 'review'%}" class="stretched-link"><h3>Date wise report On select Category</h3></a>
                  <p class="text-muted">select category and date for customised report</p>

                </div>


              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="fas fa-coins"></i>
                    <a href="{%url 'analysis'%}" class="stretched-link"><h3>Budget Report</h3></a>
                  <p class="text-muted">Update,Delete and View your all the Expenses</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock%}

