<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BudgetR</title>

  <!-- Bootstrap core CSS -->
  <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'vendor/simple-line-icons/css/simple-line-icons.css'%}">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="{%static 'device-mockups/device-mockups.min.css'%}" >

  <!-- Custom styles for this template -->
  <link href="{%static 'css/new-age.min.css'%}"  rel="stylesheet">

</head>

<body id="page-top">
 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{%url 'home'%}">BudgeteR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{%url 'home'%}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{%url 'reporthome'%}">Reports</a>
         <a class="nav-item nav-link" href="{%url 'profile'%}">My Profile</a>
      <a class="nav-item nav-link" href="{%url 'logout'%}">Logout</a>

    </div>
  </div>
</nav>


{% block body_block%}

  {%endblock%}

  <footer>
    <div class="container">
      <p>&copy; AweAngela 2020. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}" ></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}" ></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/new-age.min.js'%}" ></script>


</body>

</html>
